<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!-- 语法 <%- %> 直接不转义数据 -->
	<%- include('components/nav') %>   
	<%- include('components/nav-setting') %>
	<%- include('components/notification') %>